body {
        background-color: #fc6703;
        background-image: linear-gradient(57deg, #fc6703 0%, #e6914c 50%, #fc8257 100%);
        font-family: 'Arvo',serif,'Open Sans',sans-serif;
    }
    
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 610px;
        margin: 7em auto;
        border-radius: 1em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 40px;
    }
  
    .label {
    width: 76%;
    color: #fc6703;
    font-weight: 500;
    font-size: 16px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Arvo',serif,'Open Sans',sans-serif;
    }

    .username {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: .7em;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Arvo',serif,'Open Sans',sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .password {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: .7em;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Arvo',serif,'Open Sans',sans-serif;
    }
    
   
    .username:focus, .password:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: .7em;
        color: #fff;
        background: #fc6703;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Arvo',serif,'Open Sans',sans-serif;
        margin-left: 35%;
        margin-top: 1%;
        font-size: 16px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .errors {
        font-size: 16px;
        color: #000000;
        line-height: 50%;
    }

    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #000000;
        padding-top: 15px;
    }
    

    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #fc8257;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        
        